* {
  background-color: #F5F4F0;
  font-family: "Open sans", sans-serif;
}

#page {
  width: 1280px;
  max-width: 1280px;
  height: 3279px;
}

body {
  width: 1280px;
  max-width: 1280px;
  border: solid;
  border-width: 80px;
  border-color: #333333;
  border-radius: 40px;
}

h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: #E1624F;
  text-transform: uppercase;
  margin: 88px 80px 0px 80px;
  padding-bottom: 0px;
}

#busantitle {
  font-size: 36px;
  line-height: 49px;
  font-weight: bold;
  margin: 8px 80px 40px 80px;
}

.busanimg {
  width: 1120px;
  height: 660;
  border-radius: 28px;
  margin: 0px 80px 0px 80px;
}

#subtitle {
  font-size: 16px;
  line-height: 22px;
  font-style: italic;
  text-align: center;
  color: #333333;
  margin: 24px 80px 0px 80px;
}

.dividerup {
  width: 87%;
  height: 1px;
  margin: 36px 0px 36px 80px;
  background-color: #d9d9d9;
}

ol {
  padding-left: 0px;
}

h1 {
  font-size: 28px;
  font-weight: bold;
  margin: 2px 80px 8px 80px;
}

#busantext {
  margin: 0px -80px 16px 80px;
  font-size: 16px;
  text-align: start;
  width: 1120px;
  }  

ol li {
  list-style-position: inside;
}

#img {
  width: 1120px;
  height: 375px;
  border-radius: 28px;
  margin-left: 80px;
  margin-right: 80px;
  object-fit: cover;
  margin-top: 48px;
}

#h3 {
  margin: 20px 80px 0px 80px;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 4px;
}

p {
  margin: 0px 80px 0px 80px;
}

#inputText {
  font-weight: bold;
}

#history {
  color: #0C51A7;
  margin-left: 40px;
}

#casais, #familias, #orçamento {
  margin-left: 40px;
}

#casais {
  color: #591B98;
}

#familias {
  color: #E5245E;
}

#orçamento {
  color: #E95E10;
}

ul li::marker {
  color: #333333;
}

ul li {
  list-style-type: disc;
}

.divider {
  width: 87%;
  height: 1px;
  margin: 40px 80px 40px 80px;
  background-color: #d9d9d9;
}

#foot {
  text-align: center;
  width: 1120px;
  margin-left: 80px;
}

footer {
  margin-left: 590px;
  margin-bottom: 48px;
  width: 206;
  display: inline;
  box-sizing: border-box;
}

#footerImg {
  display: inline;
  vertical-align: middle;
}