* {
  background-color: #F5F4F0;
  font-family: "Open sans", sans-serif;
}

#page {
  width: 1280px;
  max-width: 1280px;
  height: 3279px;
}

h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: #E1624F;
  text-transform: uppercase;
  margin: 88px 80px 0px 80px;
  padding-bottom: 0px;
}

#busantitle {
  font-size: 36px;
  line-height: 49px;
  font-weight: bold;
  margin: 8px 80px 40px 80px;
}

.busanimg {
  width: 100%;
  height: 660;
  border-radius: 28px;
  margin: 0px 80px 0px 80px;
}

#subtitle {
  font-size: 16px;
  line-height: 22px;
  font-style: italic;
  text-align: center;
  color: #333333;
  margin: 24px -80px 0px 80px;
  padding-left: 20px;
}

.dividerup {
  width: 100%;
  height: 1px;
  margin: 36px 0px 36px 80px;
  background-color: #d9d9d9;
}

h1 {
  font-size: 28px;
  font-weight: bold;
  margin: 2px 80px 8px 80px;
}

#busantext {
  margin: 0px -80px 16px 80px;
  font-size: 16px;
  text-align: justify;
  }  

ol {
  padding-left: 0px;
}

#img {
  width: 100%;
  height: 375px;
  border-radius: 28px;
  margin-left: 80px;
  margin-right: 80px;
  object-fit: cover;
  margin-top: 48px;
}

h3 {
  margin: 20px 80px 0px 80px;
}

#casais {
  color: blue;
}

#familias {
  color: rgb(209, 212, 0);
}

#orçamento {
  color: rgb(0, 255, 21);
}

ul li::marker {
  color: #333333;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 40px 80px 40px 80px;
  background-color: #d9d9d9;
}